.carousel{
    display: flex;
    gap: 6rem;
    transform: translateX(-15%);
    transition: all 3s ease-in-out;
}

.carousel img{
    --carousel-index: 1;
    height: 40%;
    width: 40%;
}

.moveImg{
    transform: translateX(calc((var(--carousel-index) * -50%))); 
}