.main-header {
    display: flex;
    justify-content: space-between;  
    padding: 3rem;
    position: absolute;
    z-index: 4;
}

header img {
    width: 30px;
}

#button_hamburguer{
    border: 0;
    background-color: transparent;
    cursor: pointer;
}